.fondoverde{
    background-color: rgb(26, 188, 156);
}
.fondorojo{
    background-color: red;
}
.fondoazul{
    background-color: aqua;
}
.fondoblanco{
    background-color: blanchedalmond;
}
.fondomorao{
    background-color: blueviolet;
}
.fondoamarillo{
    background-color: yellow;
}
.fondoverdeclaro{
    background-color: greenyellow;
}
.letrablanca{
    color: aliceblue;
}
.tamañoletra{
    font-size: 30px;
}
.bordegris1{
    border: 8px outset rgb(128, 128, 128);
}
.bordegris2{
    border: 8px outset rgb(128, 128, 128);
}
.bordegris3{
    border: 15px outset rgb(128, 128, 128);
}
.bordegris4{
    border: 2px outset rgb(128, 128, 128);
}
.bordenegro{
    border: 1px outset rgb(0, 0, 0);
}
.tamañocuadro{
    width: 100%;
}
/* se puede poner la "variable"  ya sea body table etc
 y se aplicara a todo lo que sea del mismo tipo*/
/*margen, si fue a drede la u extra*/
 .marguen{
     margin: -5px;
     padding: -5px;

}